<div class="rating">
    <input type="radio" value="10" [checked]="rating===10" />
    <label title="Rocks!" (click)='onClick(10)'>10 stars</label>

    <input type="radio" value="9" [checked]="rating===9" />
    <label title="high expected" (click)='onClick(9)'>9 stars</label>

    <input type="radio" value="8" [checked]="rating===8" />
    <label title="very awesome" (click)='onClick(8)'>8 stars</label>

    <input type="radio" value="7" [checked]="rating===7" />
    <label title="awesome" (click)='onClick(7)'>7 stars</label>

    <input type="radio" value="6" [checked]="rating===6" />
    <label title="very very good" (click)='onClick(6)'>6 star</label>

    <input type="radio" value="5" [checked]="rating===5" />
    <label title="very good" (click)='onClick(5)'>5 stars</label>

    <input type="radio" value="4" [checked]="rating===4" />
    <label title="good" (click)='onClick(4)'>4 stars</label>

    <input type="radio" value="3" [checked]="rating===3" />
    <label title="not bad" (click)='onClick(3)'>3 stars</label>

    <input type="radio" value="2" [checked]="rating===2" />
    <label title="bad" (click)='onClick(2)'>2 stars</label>

    <input type="radio" value="1" [checked]="rating===1" />
    <label title="very bad" (click)='onClick(1)'>1 star</label>
</div>